body,
p,
form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;

}

.one {
    border: solid 1px black;
    width: 450px;
    height: 20px;
    border-radius: 3px;
    margin-left: 20px;
}

.two {
    border: solid 1px black;
    width: 456px;
    height: 25px;
    border-radius: 3px;
    margin-left: 94px;
    font-size: 14.5px;
}

.three {
    display: inline;
    margin-left: 55px;
}

textarea {
    width: 630px;
    height: 50px;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width:600px) {

    body,
    p,
    form {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: normal;
        font-size: 20px;
        flex-direction: column;
    }
    .one {
        border: solid 1px black;
        width: 450px;
        height: 20px;
        border-radius: 3px;
        margin: 0px;
    }

    .two {
        margin: 0px;
    }

    .three {
        margin: 0px;
        flex-direction: column;
    }

    textarea {
    width: 450px;
    height: 50px;
}
}