html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* начало шапки */

section {
  margin-top: 25px;
  align-items: baseline;
  margin-left: 10%;
  margin-right: 10%;
}

.logo {
  float: left;
}

.banner {
  float: right;
}

.button_white {
  text-decoration: none;
  display: inline-block;
  font-family: Circular Std;
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  text-align: center;
  border: solid 1px black;
  color: black;
  position: relative;
  bottom: 5px;
  background-color: white;
  width: 81px;
  height: 40px;
  border-radius: 5px;
  padding: 7px 0px 0px 0px;

}

.button_black {
  text-decoration: none;
  display: inline-block;
  font-family: Circular Std;
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: aliceblue;
  position: relative;
  bottom: 5px;
  background-color: black;
  border: solid 1px black;
  width: 81px;
  height: 40px;
  border-radius: 5px;
  padding: 7px 0px 0px 12px;

}

.content {
  margin-left: auto auto;
  text-align: center;
  font-family: Circular Std;
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.nav {
  text-align: center;
  text-decoration: none;
  padding-left: 15px;
  color: black;
}

a:hover {
  color: #35AFF4;
}

/* Конец шапки */

/* Начало центра */

.main {
  padding: 60px 120px 60px 120px;
  gap: 80px;
  border: solid 1px red;
  background-color: #FFFFFF;
  height: 760px;
  clear: both;
}

.block_left {
  float: left;
  width: 560px;
  height: 640px;
  border: solid 1px red;
}

.tb {
  font-family: Circular Std;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 100px;
  background-image: url(/Travel/main/underline.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.tc {
  font-family: Circular Std;
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 40px;
  color: #909090;
}

.block_left_bottom {
  float: left;
  width: 560px;
  height: 72px;
  border: solid 1px #909090;
  border-radius: 16px;
  padding: 12px 16px 12px 16px;
  gap: 16px;
  margin-top: 50px;
}

.loc {
  float: left;
  width: 216px;
  height: 46px;
  gap: 12px;
  border: solid 1px red;
  background-image: url(/Travel/main/main_middle/map.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

.tl {
  font-family: Circular Std;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 30px;
  padding-top: 4px;
}

.search {
  float: right;
}

.tll {
  font-family: Circular Std;
  font-weight: 450;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #909090;
  padding-left: 30px;
  padding-top: 10px;
}

.date {
  float: left;
  margin-left: 20px;
  width: 216px;
  height: 46px;
  gap: 12px;
  border: solid 1px red;
  background-image: url(/Travel/main/main_middle/calendar.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

.block_right {
  float: right;
  width: 560px;
  height: 640px;
  border: solid 1px red;
  background-image: url(/Travel/main/Subtract.png);
}

.product {
  position: relative;
  top: 60px;
}

.group {
  position: relative;
  top: 470px;
}

.partner {
  padding: 60px 120px 60px 120px;
  gap: 64px;
  border: solid 1px red;
  background-color: #FFFFFF;
  height: 160px;
  clear: both;
}

.our {
  float: left;
  padding-top: 15px;
}

.con {
  float: right;
  margin-left: 260px;

}

.voite {
  padding: 60px 120px 60px 120px;
  gap: 32px;
  border: solid 1px red;
  background-color: #FFFFFF;
  height: 619px;
}

.pd {
  float: left;
  width: 1280px;
  height: 89px;
  border: solid 1px red;

}

.pdt {
  font-family: Circular Std;
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}

.pdtb {
  font-family: Circular Std;
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #909090;
  margin-top: 25px;
}

.btn {
  float: right;
  width: 111px;
  height: 48px;
  border: solid 1px red;
  margin-top: 18px;
}

.round-btn_left {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: solid 1px #b9b9b9;
  background-color: #FFFFFF;
}

.round-btn_right {
  float: right;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: solid 1px #b9b9b9;
  rotate: 180deg;
  text-align: center;
  background-color: #FFFFFF;
}

.arrow-left {
  padding-top: 3px;
}

.arrow-right {
  padding-top: 2px;
}

.round-btn_left:hover {
  background-color: #35AFF4;
}

.round-btn_right:hover {
  background-color: #35AFF4;
}

.cards {
  width: 100%;
  height: 378px;
  border: solid 1px red;
  overflow: hidden;
}

.image-container {
  display: inline-block;
  margin-left: 12px;
}

.star {
  float: right;
}

.caption {
  font-family: Circular Std;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #181818;
}

.description {
  font-family: Circular Std;
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #909090;
}

span {
  color: #35AFF4;
}

b {
  color: #181818;
}

.reviews {
  position: relative;
  height: 900px;
  border: solid 1px red ;
  gap: 32px;
  overflow: hidden;
}

.rev_1 {
  float: left;
  margin-top: -5px;
  box-shadow: 5px 5px 10px rgba (0,0,0,0.5);
  width: 378.67px;
  height: 250px;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  gap: 20px;
  color: #FFFFFF;
}

.text_rev_1 {  
  width: 314.67px;
  height: 120px;
  border: solid 1px red;
  font-family: Circular Std;
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #909090;
}

.foto {
  float: left;
  margin-top: 25px;
}

.text_rev_2 {
  float: left;
  margin-top: 32px;
  margin-left: 15px;
  border: solid 1px red;
  width: 150px;
  height: 48px;
  color: #909090;
}

.text_rev_3 {
  font-family: Circular Std;
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #070606;
}

.text_rev_4 {
  font-family: Circular Std;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #909090;
}

.rev_2 {
  float: left;
  width: 378.67px;
  height: 323px;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 50px;
  padding: 32px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  gap: 20px;
  color: #FFFFFF;
}

.star_5 {
  padding-bottom: 20px;
}

.rev_3 {
  float: left;
  width: 378.67px;
  height: 323px;
  border-radius: 8px;
  margin-top: -42px;
  margin-left: 50px;
  padding: 32px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  gap: 20px;
  color: #FFFFFF;
}

.rev_4 {
  float: left;
  width: 378.67px;
  height: 323px;
  border-radius: 8px;
  margin-top: 280px;
  margin-left: -1235px;
  padding: 32px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  gap: 20px;
  color: #FFFFFF;
}

.rev_5 {
  float: left;
  width: 378.67px;
  height: 323px;
  border-radius: 8px;
  margin-top: 390px;
  margin-left: -810px;
  padding: 32px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  gap: 20px;
  color: #FFFFFF;
}

.rev_6 {
  float: right;
  width: 378.67px;
  height: 323px;
  border-radius: 8px;
  margin-top: 50px;
  margin-right: 285px;
  padding: 32px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  gap: 20px;
  color: #FFFFFF;
}