.header {
    text-align: center; 
    padding: 20px; 
    background-color: blueviolet;
}
.left {
    width:15%;
    height: 1000px; 
    float: left;
    background-color: cornflowerblue;
}
.clearfix:after
{
    content: "."; 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both ;
} 
.content {
    margin-left: 15%;
}