* {
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, 
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header{
                 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.header {
    background-color: rgb(112, 112, 224);
}

.nav {
    background-color: rgb(221, 194, 126);
    border-top: solid 3px firebrick;
    border-bottom:  solid 3px firebrick;
}
.nav ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.nav li {
    float: left;
}

.nav ul a {
    display: block;
    width: 7em;
    padding: 10px;
    border-left: solid 3px goldenrod;
    text-decoration:  none;
    color: aquamarine;
    text-align: center;
}

.nav ul li:last-child a {
    border-right: solid 3px rgb(218, 32, 218);
}

.nav ul a:hover {
    background-color: hotpink;
    color: palevioletred;
}

ul::after {
    content: " ";
    display: table;
    clear: both;
}

.content {
    clear: both;
}