@media screen and (max-width: 1200px) {}

@media screen and (max-width: 998px) {
    .wrap {
        flex-direction: column;
     }  
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
   
}

@media screen and (max-width: 768px) {
    
    a {
    text-decoration: none;
    color: black;
    font-size: 5px;
}
div {
    font-size: 5px
    ;
}
}

a {
    text-decoration: none;
    color: black;
}
